aside.menu-area {
    background-color: var(--bg-dark);
}

.menu a {
    display: block;
    color: #FFF;
    padding: 15px;
    font-weight: 300;
    text-decoration: none;
}

.menu a:hover {
    background-color: #FFF;
    color: var(--bg-dark);
} 

@media(max-width: 768px) {
    .menu {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }

}